# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/


#ignore this files
bin/  
include/  
lib/  
pip-selfcheck.json/
share/
